header {
    margin: auto;
    width: 1440px;
    background-color: #FFFFFF;
}

.headerlogo {
    display: inline-block;
    vertical-align: middle;
    margin: 38px 15px 38px 130px;
}

.headername {
    display: inline-block;
    vertical-align: middle;
    font-weight: 600;
    font-size: 26px;
    font-family: 'Poppins', sans-serif;
    color: #34364A;
}

.headernav {
    display: inline-block;
    vertical-align: middle;
}

.headertext {
    display: inline-block;
    vertical-align: middle;
    font-weight: 400;
    font-size: 20px;
    color: #6D6D6D;
    font-family: 'Nerko One', cursive;
}

.headerbutton {
    display: inline-block;
    vertical-align: middle;
    margin-left: 250px;
    width: 155px;
    height: 45px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 20px;
    color: #FFFFFF;
    background: #2A9D8F;
    padding: 8px 19px;
}

.headtext1 {
    margin-left: 280px;
}

.headtext2 {
    margin-left: 55px;
    margin-right: 55px;
}

.section1 {
    width: 1440px;
    background-color: #C2F3EE;
}

.sectionimage {
    margin: 80px 100px 80px 130px;
    vertical-align: middle;
}

.sectiondiv {
    display: inline-block;
    width: 480px;
    height: 560px;
    vertical-align: middle;
}

.sectiontitle {
    font-weight: 500;
    font-size: 32px;
    color: #272727;
    font-family: 'Poppins', sans-serif;
    padding-bottom: 35px;
}

.sectiontext1 {
    margin-top: 35px;
    font-family: 'Poppins', sans-serif;
    font-style: italic;
    font-weight: 400;
    font-size: 18px;
    color: #515151;
}

.sectionbutton {
    font-weight: 400;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    color: #FFFFFF;
    background-color: #2A9D8F;
    width: 225px;
    height: 40px;
    padding: 8px 25px;
    margin-top: 200px;
}