header {
    margin: auto;
    width: 1440px;
    background-color: #FFFFFF;
}

.headerlogo {
    display: inline-block;
    vertical-align: middle;
    margin: 38px 15px 38px 130px;
}

.headername {
    display: inline-block;
    vertical-align: middle;
    font-weight: 600;
    font-size: 26px;
    font-family: 'Poppins', sans-serif;
    color: #34364A;
}

.headernav {
    display: inline-block;
    vertical-align: middle;
}

.headertext {
    display: inline-block;
    vertical-align: middle;
    font-weight: 400;
    font-size: 20px;
    color: #6D6D6D;
    font-family: 'Nerko One', cursive;
}

.headerbutton {
    display: inline-block;
    vertical-align: middle;
    margin-left: 250px;
    width: 155px;
    height: 45px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 20px;
    color: #FFFFFF;
    background: #2A9D8F;
    padding: 8px 19px;
}

.headtext1 {
    margin-left: 280px;
}

.headtext2 {
    margin-left: 55px;
    margin-right: 55px;
}

.section1 {
    margin: auto;
    width: 1440px;
    background-color: #C2F3EE;
}

.sectionimage {
    margin: 80px 100px 80px 130px;
    vertical-align: middle;
}

.sectiondiv {
    display: inline-block;
    width: 480px;
    height: 560px;
    vertical-align: middle;
}

.sectiontitle {
    font-weight: 500;
    font-size: 32px;
    color: #272727;
    font-family: 'Poppins', sans-serif;
    padding-bottom: 35px;
}

.sectiontext1 {
    margin-top: 35px;
    font-family: 'Poppins', sans-serif;
    font-style: italic;
    font-weight: 400;
    font-size: 18px;
    color: #515151;
}

.sectionbutton {
    font-weight: 400;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    color: #FFFFFF;
    background-color: #2A9D8F;
    width: 225px;
    height: 40px;
    padding: 8px 25px;
    margin-top: 200px;
}

article {
    margin: auto;
    width: 1440px;
    background-color: #F5F5F5;
    padding: 200px 330px;
}

.articletitle {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 48px;
    color: #4D4D4D;
    text-align: center;
}

.articlelogo {
    vertical-align: middle;
    width: 100px;
    height: 100px;
}

.articletext1 {
    display: inline-block;
    vertical-align: middle;
    width: 640px;
    height: 120px;
    margin-top: 60px;
    font-family: 'Nerko One', cursive;
    font-weight: 400;
    font-size: 20px;
    color: #656565;
    margin-left: 30px;
}

.articletext2 {
    font-family: 'Nerko One', cursive;
    font-weight: 400;
    font-size: 20px;
    color: #656565;
}

.section2 {
    width: 1440px;
    margin: auto;
    background-color: #F5F5F5;
}

.div1 {
    display: inline-block;
    vertical-align: middle;
}

.section2title {
    font-weight: 500;
    font-size: 48px;
    color: #4D4D4D;
    font-family: 'Poppins', sans-serif;
    text-align: center;
}

.section2img1 {
    width: 580px;
    margin-left: 130px;
    margin-right: 20px;
    margin-top: 60px;
}

.section2button1 {
    font-weight: 400;
    font-size: 14px;
    color: #FFFFFF;
    font-family: 'Poppins', sans-serif;
    background-color: #2A9D8F;
    width: 135px;
    height: 32px;
    padding: 5px 20px;
    margin-left: 130px;
    margin-top: 25px;
    margin-bottom: 20px;
    display: block;
}

.section2text1 {
    width: 580px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: #535353;
    margin-left: 130px;
}

.div2 {
    display: inline-block;
    vertical-align: middle;
}

.section2button2 {
    font-weight: 400;
    font-size: 14px;
    color: #FFFFFF;
    font-family: 'Poppins', sans-serif;
    background-color: #2A9D8F;
    width: 135px;
    height: 32px;
    padding: 5px 20px;
    margin-top: 25px;
    margin-bottom: 20px;
    display: block;
}

.section2text2 {
    width: 580px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: #535353;
}